.cool {
  animation: cool 0.1s infinite;
}

@keyframes cool {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}

.box {
    padding: 1rem 2rem;

    outline: 2px solid black;
    background-color: yellow;
    color: black;
}

.dog-box {
    max-width: 300px;
    min-height: 200px;
    display: inline-block;
}

#student-id {
    position: fixed;
    font-size: 2rem;
    font-weight: bolder;
}
